<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <title>{{title}}</title>
    <!-- import the SemanticUI stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css">

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <section class="ui container">
       {{{body}}}

    </section>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" 
     integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" 
     crossorigin="anonymous">
    </script>
    <!-- import the SemanticUI javascript file -->   
    <script  src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <!-- import the Handlebars javascript files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.1/handlebars.min.js"></script>
    <!-- import the webpage's javascript file -->
    <script src="/script.js"></script>
  </body>
</html>
